# python venv conveniences 
alias venv='python3 -m venv venv && source venv/bin/activate && pip install --upgrade pip setuptools -q'
alias ae='source venv/bin/activate'
alias de='deactivate'

# launch jupyter notebok
alias jupy='cd ~/Github/jupy && source venv/bin/activate && jupyter lab'

# git
alias cdg='cd ~/Github'
alias g='git'
alias gd='git diff'
alias gd='git diff --staged'
alias gst='git status'
alias gss='git status -s'
alias ga='git add'
alias gaa='git add --all'
alias gcm='git commit -m'
alias gf='git fetch'
alias gp='git pull'

# move upwards conveniences
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias ll='ls -lh'
alias la='ls -la'

# kubernetes
alias kcl='kubectl'
alias kg='kubectl get'
alias kgp='kubectl get pods'
alias kd='kubectl describe'
alias kl='kubectl logs'
alias klf='kubectl logs -f'
alias kpf='kubectl port-forward'
alias kaf='kubectl apply -f'
alias kdf='kubectl delete -f'
alias ke='kubectl exec'
alias kei='kubectl exec -it'

# docker
alias dc='docker-compose'
alias dca='docker container ls -a'
alias dia='docker image ls -a'
