# python venv conveniences 
alias venv='python3 -m venv venv && source venv/bin/activate && pip install --upgrade pip setuptools -q'
alias ae='source venv/bin/activate'
alias de='deactivate'

# launch jupyter notebok
alias jupy='cd ~/Github/jupy && source venv/bin/activate && jupyter lab'

# git
alias cdg='cd ~/Github'
alias g='git'
alias gd='git diff'
alias gd='git diff --staged'
alias gst='git status'
alias gss='git status -s'
alias ga='git add'
alias gaa='git add --all'
alias gcm='git commit -m'
alias gf='git fetch'
alias gp='git pull'

# directory things
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias ll='ls -lh'
alias la='ls -la'
alias t1='tree -L 1'
alias t2='tree -L 2'

# kubernetes
alias kcl='kubectl'
alias kg='kubectl get'

alias kd='kubectl describe'
alias kgp='kubectl get pods'
alias kdp='kubectl describe pods'

alias kgc='kubectl get configmaps'
alias kdc='kubectl describe configmap'

alias kgi='kubectl get ingress'
alias kdi='kubectl describe ingress'

alias kl='kubectl logs'
alias klf='kubectl logs -f'
alias kpf='kubectl port-forward'
alias ke='kubectl exec'
alias kei='kubectl exec -it'

alias kaf='kubectl apply -f'
alias kdf='kubectl delete -f'
alias kdl='kubectl delete'

# docker
alias dc='docker-compose'
alias dls='docker container ls'
alias dlss='docker container list --format "table {{.Names}}\t{{.Status}}\t{{.Image}}"'
alias dlsa='docker container ls -a'
alias dia='docker image ls -a'
alias dk='docker'

# make
alias vm='vim Makefile'
alias m='make'

