# vim
alias vim='nvim'  # so it begins..
alias v='vim'
alias vr='vim README.md'

# tmux
# list the available sessions if an arg isn't passed in, otherwise try to
# attach to it
function tls() {
  if [[ -z "$1" ]] ; then
    tmux list-sessions
  else
    tmux attach-session -t $1
  fi
}

# python venv conveniences 
alias venv='python3 -m venv venv && source venv/bin/activate && pip install --upgrade pip setuptools -q'
alias ae='source venv/bin/activate'
alias de='deactivate'

# launch jupyter notebok
alias jupy='cd ~/Github/jupy && source venv/bin/activate && jupyter lab'

# git
alias g='git'
alias gd='git diff'
alias gds='git diff --staged'
alias gst='git status'
alias gss='git status -s'
alias ga='git add'
alias gaa='git add --all'
alias gcm='git commit -m'
alias gf='git fetch'
alias gp='git pull'
alias gane='git commit --amend --no-edit'

# directory things
alias cdg='cd ~/Github'
alias cdd='cd ~/Github/dotfiles'

alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'

alias ll='ls -lh'
alias la='ls -la'
alias t='tree -L 1'
alias tt='tree -L 2'
alias ttt='tree -L 3'

# kubernetes
alias kcl='kubectl'
alias kg='kubectl get'

alias kd='kubectl describe'
alias kgp='kubectl get pods'
alias kdp='kubectl describe pods'

alias kgc='kubectl get configmaps'
alias kdc='kubectl describe configmap'

alias kgi='kubectl get ingress'
alias kdi='kubectl describe ingress'

alias kl='kubectl logs'
alias klf='kubectl logs -f'
alias kpf='kubectl port-forward'
alias ke='kubectl exec'
alias kei='kubectl exec -it'

alias kaf='kubectl apply -f'
alias kdf='kubectl delete -f'
alias kdl='kubectl delete'

# docker
alias dc='docker-compose'
alias dls='docker container ls'
alias dlss='docker container list --format "table {{.Names}}\t{{.Status}}\t{{.Image}}"'
alias dlsa='docker container ls -a'
alias dia='docker image ls -a'
alias dk='docker'

# make
alias vm='vim Makefile'
alias m='make'

# cargo
alias ct='cargo test'
alias cc='cargo check'
alias cy='cargo clippy'
alias cr='cargo run'
alias cb='cargo build'
alias cbr='cargo build --release'

# general
alias update='sudo apt update && sudo apt upgrade -y'

